body{
    background-color: black;
    color: white;
    margin: auto;
}
.nav1{
    width: 100%;
    height: 100px;
    background-color: black;
}
.nav2{
    width: 100%;
    height: 80px;
    background-color: black;
    border-top: 2px grey solid;
}
.title{
margin: auto;
color: white;
float: left;
margin-top: 4%;
margin-left: 4%;
}
.logo{
float: right;
height: 32px;
width: 5%;
margin-top: 2%;
background-color: red;
margin-right: 2%;
}
.bar{
height: 30px;
width: 15%;
outline: none;
border: none;
float: right;
margin-top: 2%;
margin-left: 2%;
}
.bar:focus{
width: 30%;
}
.pic{
float: left;
width: 6%;
height: 90px;
margin-left: 5%;
margin-top: 0.5%;
}
.nav1 p{
margin: auto;
color: white;
float: right;
margin-top: 2.5%;
}
.nav2 a{
margin-left: 2%;
color: grey;
float: left;
margin-top: 2%;
text-decoration-line: none;
}
.user{
width: 40%;
height: 500px;
margin-left: 2%;
margin-top: 0%;
color: white;
float: left;
}
.vid{
width: 760px;
height: 500px;
margin-left: 4.5%;
margin-top: 0%;
float: left;
overflow: hidden;
}
.head{
text-align: center;
padding-top: 4%;
}
table,td,th,tr{
border: 2px solid black;
}
table{
width: 60%;
margin-left: 20%;
margin-top: 4%;
font-size: 20px;
font-style: oblique;
}
button{
height: 50px;
width: 20%;
margin-left: 5%;
margin-top: 4%;
background-color: red;
border: 2px solid white;
border-radius: 20px;
}
button:hover{
background-color: white;
border: 2px solid red;
}
.service{
height: 600px;
width: 900px;
float: left;
}